{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">{{ title }}</h2>

  <form method="post" class="p-4 bg-white rounded shadow-sm">
    {% csrf_token %}

    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">
          {{ field.label }}
        </label>
        {{ field }}
        {% if field.help_text %}
          <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% for error in field.errors %}
          <div class="text-danger small">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

     <div class="d-flex gap-2 mt-3">
      <button type="submit" class="btn btn-success">
        <i class="bi bi-check-circle"></i> Submit
      </button>
      <a href="{% url 'term' %}" class="btn btn-danger">
        <i class="bi bi-x-circle"></i> Cancel
      </a>
    </div>
  </form>
</div>
{% endblock %}
