<div class="p-3 bg-info-subtle rounded">
    <h5>Animal Records</h5>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" href="{% url 'animal_list' %}">Animals</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'enclosure_list' %}">Enclosure</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'animal_keeper_list' %}">Animal Keepers</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'feeding_list' %}">Feeding</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'supply_list' %}">Supplies</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'supplier_list' %}">Suppliers</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'health_check_list' %}">Animal Health</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'vet_list' %}">Vets</a></li>
    </ul>
</div>
